*{
   margin: 0;
  padding: 0;
}

header{
   background-image: url(/img/aboutbg.jpg);
   width: 100%;
   height: 300px;
   background-position: center center;
   background-size: cover;
   color: white;
   padding: 20px;
}

header h1{
   font-size: 25px;
   font-weight: 600;
   text-align: center;
   margin-bottom: 20px;
   letter-spacing: 5px;
}

header h2{
   font-size:  24px;
   text-align: center;
   margin-bottom: 20px;

}

header p{
   font-size: 24px;
   text-align: center;
   margin-bottom: 20px;
}

#btn{
   background-color:teal;
   color: white;
   width: 100px;
   padding: 1px;
   border-radius: 10px;
   margin-right: auto;
   margin-left: auto;
   font-size: 18px;
}


.about{
    text-align: center;
    margin-bottom: 5px;

}
 
 .aboutp{
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    background-color: yellow;
    
 }

 footer{
   background-color: #222222;
   color: white;
   height: 50px;
   padding: 20px;
   margin-top: 20px
}

footer p{
   text-align: center;
}

@media only screen and (min-width: 768px) {
   .aboutp{
      font-size: 25px;
      border-radius: 10px;
   }

   footer{
      margin-top: 50px;
   }
}